pytz==2015.7  # bug in Babel requires pytz, but doesn't include it in its dependencies
Babel==2.3.4
argparse==1.4.0
cliff==1.14.0
cliff-tablib==1.1
cmd2==0.6.8
cov-core==1.15.0
coverage==4.0.3
debtcollector==1.1.0
flux==1.3.3
funcsigs==0.4
httplib2.ca-certs-locater==0.2.0
importlib==1.0.3
iso8601==0.1.11
keystoneauth1==2.1.0
mock==1.3.0
monotonic==0.4
msgpack-python==0.4.6
netaddr==0.7.18
netifaces==0.10.4
nose==1.3.7
nose-cov==1.6
oslo.config==3.0.0
oslo.i18n==3.1.0
oslo.serialization==2.1.0
oslo.utils==3.0.0
pbr==1.8.1
prettytable==0.7.2
pyparsing==2.0.6
python-cinderclient==1.5.0
python-dateutil==2.4.2
python-glanceclient<2.0
python-keystoneclient==1.8.1
python-neutronclient==3.1.0
python-novaclient==2.35.0
requests==2.8.1
simplejson==3.8.1
six==1.10.0
stevedore==1.10.0
tablib==0.10.0
unicodecsv==0.14.1
wrapt==1.10.6
wsgiref==0.1.2
